@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&display=swap');

* {
    box-sizing: border-box;
  }
  
  html,
  body {
    padding: 0px;
    margin: 0;
  }