@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0;
}

body {
  background-color: #FEFCF7;
  padding-bottom: 88px;
  margin-right: 90px;
  margin-left: 90px;
}

.nav-2 {
  height: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
}
.nav-2 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-2 header img {
  height: 26px;
}
.nav-2 header .hamburger {
  display: none;
}
.nav-2 header .navigation {
  flex-grow: 1;
}
.nav-2 header .navigation ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
}
.nav-2 header .navigation ul li {
  margin-left: 30px;
}
.nav-2 header .navigation ul a {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  color: #83888F;
  text-decoration: none;
  font-weight: bold;
}

.first-container-3 {
  height: 450px;
  width: 100%;
  background-image: url(/images/Bitmap\ \(9\).png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FEFCF7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-container-3 .title {
  font-family: "Fraunces", serif;
  font-size: 72px;
  line-height: 72px;
  margin-left: 50px;
  color: #FEFCF7;
}
.first-container-3 .paragraph {
  width: 480px;
  color: #FEFCF7;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 27px;
  margin-left: 50px;
  padding-right: 40px;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2C343E;
  margin-top: 104px;
  padding-bottom: 50px;
}
.how-it-works .pick {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.how-it-works .circles {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.how-it-works .circles img {
  width: 31px;
  z-index: 2;
}
.how-it-works .circles::before {
  content: "";
  position: absolute;
  top: 88%;
  left: 65px;
  width: 95.5%;
  height: 2px;
  background-color: #FDD6BA;
  transform: translateY(-50%);
  z-index: 1;
}
.how-it-works p {
  font-family: "Barlow", sans-serif;
  line-height: 26px;
  font-size: 16px;
  color: #FEFCF7;
  margin-left: 50px;
}
.how-it-works h3 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: #FEFCF7;
  margin-left: 50px;
}
.how-it-works img {
  width: 90px;
  padding-top: 100px;
  margin-left: 50px;
}

.how-do-you {
  display: flex;
  justify-content: space-between;
}
.how-do-you .how-do-you-list {
  font-family: "Fraunces", serif;
  font-size: 24px;
  line-height: 32px;
}
.how-do-you .how-do-you-list h5 {
  color: #83888F;
  width: 255px;
}
.how-do-you .how-do-you-list ul {
  padding-right: 100px;
  list-style: none;
  padding-left: 50px;
}

.nav-2 {
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  padding-bottom: 104px;
}
.nav-2 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-2 h3 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  color: #83888F;
  margin-right: 80px;
  line-height: 48px;
}

.cap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cap .capsules {
  display: flex;
  flex-direction: column;
  width: 228px;
  background-color: #F4F1EB;
  border-radius: 10px;
  margin-top: 24px;
  padding-right: 20px;
  padding-bottom: 75px;
}
.cap .capsules h3 {
  font-family: "Fraunces", serif;
  color: #333D4B;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24px;
  line-height: 32px;
}
.cap .capsules p {
  padding-left: 20px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.cap .capsules-2 {
  width: 228px;
  background-color: #0E8784;
  border-radius: 10px;
  margin-top: 24px;
  padding-right: 5px;
  padding-bottom: 75px;
}
.cap .capsules-2 h3 {
  font-family: "Fraunces", serif;
  color: #FFFFFF;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24px;
  line-height: 32px;
}
.cap .capsules-2 p {
  padding-left: 20px;
  font-family: "Barlow", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
}

.order {
  border-radius: 10px;
  background-color: #2C343E;
  border-radius: 10px;
  margin-top: 104px;
}
.order h4 {
  color: #FFFFFF;
  font-family: "Barlow", sans-serif;
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 100;
}
.order h3 {
  color: #FFFFFF;
  font-family: "Fraunces", serif;
  font-size: 28px;
  padding-left: 20px;
  padding-bottom: 40px;
  line-height: 50px;
}

.btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 50px;
}
.btn .btn1 {
  text-align: center;
  border: none;
  height: 56px;
  width: 217px;
  border-radius: 6px;
  background-color: #0E8784;
  font-family: "Fraunces", serif;
  font-size: 15px;
  color: #FEFCF7;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 20px;
  border-radius: 10px;
  z-index: 1;
  overflow: auto;
  position: fixed;
}
.popup h2 {
  background-color: #333D4B;
  width: 327px;
  height: 88px;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  color: #FFFFFF;
  font-family: "Fraunces", serif;
  font-size: 28px;
  padding-top: 30px;
  padding-left: 25px;
}
.popup h3 {
  width: 327px;
  color: #83888F;
  font-family: "Fraunces", serif;
  font-size: 24px;
  padding-left: 25px;
  padding-right: 15px;
  line-height: 50px;
}
.popup p {
  width: 327px;
  font-family: "Barlow", sans-serif;
  line-height: 25px;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.popup .btn1 {
  text-align: center;
  border: none;
  height: 56px;
  width: 279px;
  border-radius: 6px;
  background-color: #0E8784;
  font-family: "Fraunces", serif;
  font-size: 18px;
  color: #FEFCF7;
  line-height: 25px;
}

.open-popup .popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 20px;
  border-radius: 10px;
  z-index: 1;
  overflow: auto;
}
.open-popup .popup h2 {
  background-color: #333D4B;
  width: 327px;
  height: 88px;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  color: #FFFFFF;
  font-family: "Fraunces", serif;
  font-size: 28px;
  padding-top: 30px;
  padding-left: 25px;
}
.open-popup .popup h3 {
  width: 327px;
  color: #83888F;
  font-family: "Fraunces", serif;
  font-size: 24px;
  padding-left: 25px;
  padding-right: 15px;
  line-height: 50px;
}
.open-popup .popup p {
  width: 327px;
  font-family: "Barlow", sans-serif;
  line-height: 25px;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.open-popup .popup .btn1 {
  text-align: center;
  border: none;
  height: 56px;
  width: 279px;
  border-radius: 6px;
  background-color: #0E8784;
  font-family: "Fraunces", serif;
  font-size: 18px;
  color: #FEFCF7;
  line-height: 25px;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #2C343E;
  margin-top: 104px;
  height: 450px;
  color: #83888F;
  font-family: "Barlow", sans-serif;
  line-height: 15px;
}
.end .imagi {
  width: 218px;
  height: 24px;
  margin-bottom: 50px;
}
.end .imag {
  margin-top: 25px;
}
.end .imag img {
  margin-right: 15px;
  margin-left: 15px;
}/*# sourceMappingURL=create-plan-1.css.map */